body {
    margin-left:50px;
}

h1{
    font-size:x-large;
}

h2 {
    font-size: large;
    color:brown;
}

input[type=text] {
    border: 1px solid green;
    border-radius: 4px;
    background-color: antiquewhite;
    color:brown;
    width:30px;
}

